.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-container{
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}
.suppliers-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.btnSearch{
  color: white;
}